.row
%h3= t('forms.form.wine_sort')
=pf.hidden_field :id
.row
  .col-md-4
    .form-group
      = pf.label :name
      = pf.text_field :name, class: 'form-control'

  .col-md-4
    .form-group
      = pf.label :type_of_wine
      = pf.select :type_of_wine,
      ["Сухое","Полусухое","Полусладкое","Сладкое","Ликёрное"],{include_blank: true}, {class: 'form-control'}
.row
  .col-md-4
    .form-group
      = pf.label :color
      = pf.text_field :color, class: 'form-control'

  .col-md-4
    .form-group
      = pf.label :barrel_extract
      = pf.number_field :barrel_extract, class: 'form-control'
.row
  .col-md-4
    .form-group
      = pf.label :bottle_extract
      = pf.number_field :bottle_extract, class: 'form-control'
